#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	MAKEFLAGS += -j$(NUMJOBS)
endif

%:
	dh $@

override_dh_auto_build-indep:
	$(MAKE) -f debian/Makefile

override_dh_auto_clean:
	$(MAKE) -f debian/Makefile clean


# XXX: Policy says this rule should download the latest, but there
# doesn't seem to be a good way to know what version uscan downloaded,
# so we don't do that yet.
#
# This behaviour is shared by all of the example implementations on
# <https://wiki.ubuntu.com/PackagingGuide/Basic#Changing_the_Original_Tarball>,
# though, so I (SamB) can't bring myself to feel very bad about it.
#
# Policy also says this rule should work from any directory, but
# doesn't give any hints on how to figure out where the package is,
# so it only works from the root of the package source for now.

DEB_UPSTREAM_VERSION=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^-]+).*,\1,p')
DEB_UPSTREAM_MAJOR=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([0-9]+\.[0-9]+).*,\1,p')
get-orig-source:
        # Uscan can grab upstream source zip
	uscan --noconf --force-download --download-current-version --destdir=.

        # Distill the tarball to just the docs (and texi2pod)
	python debian/extract-doc-tarball-from-upstream \
		gcc-$(DEB_UPSTREAM_VERSION).tar.gz \
		gcc-$(DEB_UPSTREAM_MAJOR)-non-dfsg \
		$(DEB_UPSTREAM_VERSION)

	rm -f gcc-$(DEB_UPSTREAM_VERSION).tar.gz


# Use override_dh_* targets to customize this.
# ---------------------------------------------------
# Followings are the old debian/rules
#
# #!/usr/bin/make -f
# 
# ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
# 	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
# 	MAKEFLAGS += -j$(NUMJOBS)
# endif
# 
# build: build-indep
# 
# build-arch:
# 
# build-indep: build-stamp
# 
# build-stamp: patch-stamp
# 	dh_testdir
# 	$(MAKE) -f debian/Makefile
# 	touch build-stamp
# 
# install-indep: build-indep
# 	dh_testdir
# 	dh_testroot
# 	dh_clean -k
# 	dh_installdirs -i
# 
# clean:
# 	dh_testdir
# 	dh_testroot
# 	rm -f build-stamp
# 	$(MAKE) -f debian/Makefile clean
# 	debian/rules unpatch
# 	dh_clean
# 
# 
# binary-indep: build-indep install-indep
# 	dh_testdir
# 	dh_testroot
# 	dh_installdocs -i
# 	dh_installchangelogs -i
# 	dh_installman -i
# 	dh_installinfo -i
# 	dh_link -i
# 	dh_compress -i
# 	dh_fixperms -i
# 	dh_installdeb -i
# 	dh_gencontrol -i
# 	dh_md5sums -i
# 	dh_builddeb -i
# 
# binary-arch: build-arch
# 
# binary: binary-indep binary-arch
# 
# .PHONY: build build-arch build-indep install clean binary-indep binary-arch binary
# 
# include /usr/share/dpatch/dpatch.make
