#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	MAKEFLAGS += -j$(NUMJOBS)
endif

%:
	dh $@

override_dh_auto_build-indep:
	$(MAKE) -f debian/Makefile

override_dh_auto_clean:
	$(MAKE) -f debian/Makefile clean


# XXX: Policy says this rule should download the latest, but there
# doesn't seem to be a good way to know what version uscan downloaded,
# so we don't do that yet.
#
# This behaviour is shared by all of the example implementations on
# <https://wiki.ubuntu.com/PackagingGuide/Basic#Changing_the_Original_Tarball>,
# though, so I (SamB) can't bring myself to feel very bad about it.

DEB_DEBIAN_DIR=$(dir $(firstword $(MAKEFILE_LIST)))
DEB_UPSTREAM_VERSION = $(shell dpkg-parsechangelog -l$(DEB_DEBIAN_DIR)/changelog \
		                 | sed -rne 's,^Version: ([^-]+).*,\1,p')
DEB_UPSTREAM_MAJOR   = $(shell dpkg-parsechangelog -l$(DEB_DEBIAN_DIR)/changelog \
                                 | sed -rne 's,^Version: ([0-9]+\.[0-9]+).*,\1,p')
get-orig-source:
        # Have uscan grab upstream tarball
	uscan --noconf --force-download --download-current-version \
	  --no-symlink --destdir=$(CURDIR) \
	  --check-dirname-regex='(PACKAGE|gcc-doc)(-.+)?' \
	  $(DEB_DEBIAN_DIR)/..

        # Distill the tarball to just the docs (and texi2pod)
	python $(DEB_DEBIAN_DIR)/extract-doc-tarball-from-upstream \
	  gcc-$(DEB_UPSTREAM_VERSION).tar.gz \
	  gcc-$(DEB_UPSTREAM_MAJOR)-doc-non-dfsg \
	  $(DEB_UPSTREAM_VERSION)

        # Delete the upstream tarball
	rm -f gcc-$(DEB_UPSTREAM_VERSION).tar.gz
